################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OOPA2
/OOPA2/bin/Debug/net7.0
/OOPA2/obj
